@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1e3b55;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(85, 135, 221, 0.5019607843);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-prim {
  background-color: #1e3b55;
  border-color: #1e3b55;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 2px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.upperbar {
  background-color: #1e3b55;
  color: #fff;
  padding: 20px 0;
}
.upperbar .contact-info ul li h4 {
  font-size: 18px;
}
.upperbar .contact-info ul li:not(:last-child) {
  border-left: 1px solid #fff;
}
.upperbar .social-icons ul li {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.upperbar .social-icons ul li .fa-linkedin {
  color: #fff;
}

.primary-navbar {
  padding: 20px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}
.primary-navbar .navbar a {
  color: #222;
}
.primary-navbar .navbar .nav-link {
  padding: 0;
}
.primary-navbar .navbar .dropdown .dropdown-toggle::after {
  display: none;
}

.hero {
  padding: 50px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}

.testimonials {
  padding: 50px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}
.testimonials h2 {
  font-weight: bold;
}
.testimonials .slider-item {
  background-color: #2966cc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  width: 10%;
  height: 200px;
  padding: 10px;
  width: 95% !important;
  cursor: pointer;
}

.fix {
  padding: 50px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}

.more-about {
  padding: 50px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}
.more-about .more-about-box {
  margin: 10px 0;
}
.more-about .more-about-box .more-about-header .fa-x {
  color: #222;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.more-about .more-about-box .more-about-desc {
  color: #777;
}

.fix2 {
  padding: 50px 0;
  border-bottom: 1px solid rgba(34, 84, 170, 0.5019607843);
}

.awards {
  padding: 50px 0;
  border-bottom: 2px solid rgba(34, 84, 170, 0.5019607843);
}
.awards .awards-slider .slider-item {
  margin-top: 30px;
  background-color: #2966cc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  padding: 10px;
  width: 50% !important;
  cursor: pointer;
}
.awards .awards-slider .slider-item img {
  margin: auto;
}

.footer {
  padding: 20px 0;
  background-color: #1e3b55;
  color: #fff;
}
.footer .footer-area-we-serve h3,
.footer .footer-services h3,
.footer .footer-services h3,
.footer .footer-contact-information h3,
.footer .footer-terms-condition h3 {
  color: #2254aa;
}
.footer .info .sebd-mail .fa-envelope {
  color: #fff;
  width: 30px !important;
  height: 30px;
}
.footer .info ul li .fa-linkedin {
  color: #fff;
  width: 30px;
  height: 30px;
}
.footer .footer-location {
  margin: 20px 0;
}
.footer .footer-location .footer-location-box {
  background-color: rgba(85, 135, 221, 0.5019607843);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 15px 0;
}
.footer .footer-location .footer-location-box .fa-x {
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: 10px;
} /*# sourceMappingURL=globals.css.map */
