.blog {
  border-bottom: 2px solid $lines-color;

  .blog-header {
    background-image: url("/images/blog/blog-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $primary-color;
      font-size: 50px;
    }
  }

  .blog-body {
    padding: $big-sections-padding;
    border-bottom: 2px solid $lines-color;

    h2 {
      margin: 25px 0;
    }
    .map {
      h2 {
        margin-bottom: 20px;
      }
      .mapouter,
      .gmap_canvas,
      .gmap_iframe {
        max-width: 90dvw;
        overflow: hidden;
      }
    
    }
  }
}
