.mainservText {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  // .row{
  //   &:nth-child(even){
  //     flex-direction: row-reverse;
  //   }
  // }
  p {
    font-size: 1.2rem;
    color: #1e3b55;
  }
  .reverse {
    flex-direction: row-reverse;
  }
}
.SubServicesList {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  a,
  button {
    border: none;
    outline: none;
    color: $paragraphs-color;
    width: calc(50% - 10px);
    padding: 10px 20px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}

@media (max-width: 800px) {
  .SubServicesList {
    flex-direction: column;
    a,
    button {
      width: 100%;
    }
  }
}
