.privacy-body {
  .container {
    h1,
    h2,
    h3,
    h4 {
      font-size: 2rem;
      color: $primary-color;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 700px) {
  .privacy-body {
    .container {
      h1,
      h2,
      h3,
      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
