//colors
$primary-color: #2254aa;
$background-color: #1e3b55;
$second-background-color: #5587dd80;
$paragraphs-color: #1e3b55;
$lines-color: #2254aa80;
$footer-title: #abcaff;
//padding
$small-sections-padding: 20px 0;
$big-sections-padding: 50px 0;
