.map {
  padding: $big-sections-padding;
  border-bottom: 2px solid $lines-color;

  .country {
    ul {
      li {
        cursor: pointer;
        color: #337ab7;
      }
    }
  }
}

.mapouter,
.gmap_canvas,
.gmap_iframe {
  max-width: 90dvw;
  overflow: hidden;
}
